.Contact-Us {
  /* Write in here */
  height: 100vh;

  .section-title {
    height: 160px;
    display: flex;
    align-items: center;
    position: relative;
    left: 120px;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    .card {
      width: 493px;
      height: 615px;
      background: #D9D9D9;
    }
    .left-card {
      h1 {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
    .right-card {
      display: flex;
      flex-direction: column;
      h1 {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 495px;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;
          li {
            a {
              text-decoration: none;
              color: blue;
            }
          }
        }
      }
    }
  }
  

  /* End */
}
