.Contact-Us {
  /* Write in here */
  height: 100vh;
  background-image: url('../images/contact-us-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .card-container {
    display: flex;
    justify-content: space-around;
    padding-top: 160px;
    .card {
      width: 493px;
      height: 615px;
        background-color: rgba(255, 255, 255, 0.6); /* White with 95% opacity, very slight transparency */
        color: #333333; /* Dark gray text for good contrast */
        border: 2px solid rgba(255, 255, 255, 0.5); /* Slightly transparent white border */
        padding: 20px;
        border-radius: 10px; /* Rounded corners for a smooth look */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */    
    }
    .left-card {
      h1 {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

      }
        button {
          background: navy;
          color: white;
          font-size: 18px;
          padding: 12px 24px;
          border-radius: 30px;
          cursor: pointer;
          text-transform: uppercase;
          width: 300px;
        }
    }
    .right-card {
      display: flex;
      flex-direction: column;
      h1 {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        text-align: center;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 447px;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;
          li {
            a {
              text-decoration: none;
              color: blue;
            }
          }
        }
      }
    }
  }
  

  /* End */
}
