.Faq {
  .faq-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .faq-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-question {
    width: 100%;
    background: #f9f9f9;
    border: none;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-question:hover {
    background: #eaeaea;
  }
  
  .faq-answer {
    display: none;
    padding: 1rem;
    background: #ffffff;
    border-top: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  
  .faq-item.active .arrow {
    transform: rotate(180deg);
  }
}
