/*
* Root variables for the project
*/

:root {
  --background-primary: rgb(255, 255, 255);
  --text-primary: rgb(20, 20, 20);

  /* German Palette from flatui colors */
  --fusion-red: #fc5c65;
  --desire: #eb3b5a;
  --orange-hibiscus: #fd9644;
  --beniukon-bronze: #fa8231;
  --flirtatious: #fed330;
  --nyc-taxi: #f7b731;
  --reptile-green: #26de81;
  --algal-fuel: #20bf6b;
  --maximum-blue-green: #2bcbba;
  --turquoise-topaz: #0fb9b1;
  --high-blue: #45aaf2;
  --boyzone: #2d98da;
  --c4-ntsc: #4b7bec;
  --royal-blue: #3867d6;
  --lighter-purple: #a55eea;
  --gloomy-purple: #8854d0;
  --twinkle-blue: #d1d8e0;
  --innuendo: #a5b1c2;
  --blue-grey: #778ca3;
  --blue-horizon: #4b6584;

  /* New Palette which is more accessible and have good contrast ratio*/

  --new-boyzone: #1f7ab2;
  --new-algal-fuel: #17874b;
  --new-fusion-red: #e4252f;
  --new-nyc-taxi: #946d0a;
  --new-gloomy-purple: #8d5bd2;
  --new-blue-grey: #61778f;
  --new-orange-hibiscus: #b65b07;
  --new-maximum-blue-green: #1c8278;

  /*** Typography ***/
  --font-primary: "Inter", sans-serif;
}
