.Uses {
  /* Write in here */

  /* End */
  min-height: 100vh;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .card {
      width: 20rem;
      height: 12rem;
      border: 1px solid red;
      padding: 1.5rem;

      .card-title-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid red;

        h2 {
          font-size: 1.5rem;
          font-weight: bold;
        }

        img {
          width: 2rem;
        }
      }
    }
  }
}
