/* Import the root, reset and animation styles */
/*
* Root variables for the project
*/
:root {
  --background-primary: #ffffff;
  --text-primary: #141414;
  /* German Palette from flatui colors */
  --fusion-red: #fc5c65;
  --desire: #eb3b5a;
  --orange-hibiscus: #fd9644;
  --beniukon-bronze: #fa8231;
  --flirtatious: #fed330;
  --nyc-taxi: #f7b731;
  --reptile-green: #26de81;
  --algal-fuel: #20bf6b;
  --maximum-blue-green: #2bcbba;
  --turquoise-topaz: #0fb9b1;
  --high-blue: #45aaf2;
  --boyzone: #2d98da;
  --c4-ntsc: #4b7bec;
  --royal-blue: #3867d6;
  --lighter-purple: #a55eea;
  --gloomy-purple: #8854d0;
  --twinkle-blue: #d1d8e0;
  --innuendo: #a5b1c2;
  --blue-grey: #778ca3;
  --blue-horizon: #4b6584;
  /*** Typography ***/
  --font-primary: "Inter", sans-serif;
}

/*
 * A modern alternative to CSS resets
 * @link https://piccalil.li/blog/a-modern-css-reset
 * Also modified by me
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Remove default list styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
* Animations being used in the project
*/
@keyframes move_up_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Import the primary styles */
/* 
*Style used for the primary elements of the website 

*/
html,
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Import header and footer styles */
/* 
*Style used for the header of the website 
*/
header {
  background-color: red;
}
header ul {
  display: flex;
}

/* 
*Style used for the footer of the website 
*/
/* Import the sections */
.Home {
  text-align: center;
  text-transform: capitalize;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home .hero {
  font-size: 3.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #dfe6e9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 28rem;
}
.Home .hero h1 {
  font-weight: 400;
  padding-bottom: 2rem;
}
.Home .hero img {
  width: 13.5rem;
}
.Home .creators-parent {
  width: 100%;
  padding: 2rem;
  font-weight: 300;
}
.Home .creators-parent h2 {
  font-size: 2rem;
  font-weight: 400;
}
.Home .creators-profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Home .creators-profile-container .creators-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.Home .creators-profile-container .creators-profile img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  /* subtle shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Home .arrow-down {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.Home .arrow-down a {
  animation: move_up_down 1.5s infinite ease-in-out;
  display: block;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.Home .arrow-down img {
  width: 3rem;
}

@media (max-width: 768px) {
  .Home .hero {
    padding: 2rem 2rem 0 2rem;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
  .Home .hero h1 {
    font-size: 2rem;
  }
  .Home .hero img {
    width: 8rem !important;
  }
  .Home .arrow-down img {
    width: 2rem;
  }
  .Home .creators-parent h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .Home .creators-profile-container {
    gap: 1rem;
  }
  .Home .creators-profile-container .creators-profile {
    font-size: 1.2rem;
    gap: 1rem;
    margin-top: 1rem;
    width: 10rem;
  }
  .Home .creators-profile-container .creators-profile img {
    width: 4rem;
    height: 4rem;
  }
}
.How-it-works {
  /* Write in here */
  /* End */
}

.Uses {
  /* Write in here */
  /* End */
}

.Faq .faq-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
}
.Faq .faq-item {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.Faq .faq-question {
  width: 100%;
  background: #f9f9f9;
  border: none;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Faq .faq-question:hover {
  background: #eaeaea;
}
.Faq .faq-answer {
  display: none;
  padding: 1rem;
  background: #ffffff;
  border-top: 1px solid #ddd;
  font-size: 1rem;
}
.Faq .arrow {
  transition: transform 0.3s ease;
}
.Faq .faq-item.active .faq-answer {
  display: block;
}
.Faq .faq-item.active .arrow {
  transform: rotate(180deg);
}

.Contact-Us {
  /* Write in here */
  /* End */
}/*# sourceMappingURL=style.css.map */