/* Import the root, reset and animation styles */
/*
* Root variables for the project
*/
:root {
  --background-primary: #ffffff;
  --text-primary: #141414;
  /* German Palette from flatui colors */
  --fusion-red: #fc5c65;
  --desire: #eb3b5a;
  --orange-hibiscus: #fd9644;
  --beniukon-bronze: #fa8231;
  --flirtatious: #fed330;
  --nyc-taxi: #f7b731;
  --reptile-green: #26de81;
  --algal-fuel: #20bf6b;
  --maximum-blue-green: #2bcbba;
  --turquoise-topaz: #0fb9b1;
  --high-blue: #45aaf2;
  --boyzone: #2d98da;
  --c4-ntsc: #4b7bec;
  --royal-blue: #3867d6;
  --lighter-purple: #a55eea;
  --gloomy-purple: #8854d0;
  --twinkle-blue: #d1d8e0;
  --innuendo: #a5b1c2;
  --blue-grey: #778ca3;
  --blue-horizon: #4b6584;
  /*** Typography ***/
  --font-primary: "Inter", sans-serif;
}

/*
 * A modern alternative to CSS resets
 * @link https://piccalil.li/blog/a-modern-css-reset
 * Also modified by me
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Remove default list styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
* Animations being used in the project
*/
/* Import the primary styles */
/* 
*Style used for the primary elements of the website 

*/
html,
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Import header and footer styles */
/* 
*Style used for the header of the website 
*/
Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}
Header nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-right: 20px;
}
Header nav ul li a {
  text-decoration: none;
  color: inherit;
}

/* 
*Style used for the footer of the website 
*/
/* Import the sections */
.How-it-works {
  /* Write in here */
  /* End */
}

.Uses {
  /* Write in here */
  /* End */
}

.Faq {
  /* Write in here */
  /* End */
}

.Contact-Us {
  /* Write in here */
  /* End */
}/*# sourceMappingURL=style.css.map */